<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Archer Boy!</title>
	<link rel="stylesheet" type="text/css" href="/main-bundle.css">
</head>
<body>
	<canvas id="canvas"></canvas>
	<img src="/images/archerBoy.png" alt="" id="image">
	<script src="/main-bundle.js"></script>
</body>
</html>